<section class='bg-neutral h-screen flex items-center justify-center'>
    <article class='card w-1/2 bg-base-100 shadow-xl py-4 px-6'>
        <h1 class='text-2xl text-center mb-10'>
            Registrar usuario
        </h1>
        <form class='w-full flex flex-col gap-8' action='/sessions/register' method='post'>
            <div class='join gap-2'>
                <input type='text' name='first_name' class='input input-bordered w-full max-w-xs' placeholder='Nombre' required>
                <input type='text' name='last_name' class='input input-bordered w-full max-w-xs' placeholder='Apellido' required>
            </div>
            <div class='join gap-2'>
                <input type='number' name='age' class='input input-bordered w-full max-w-xs' placeholder='Edad' required>
                <input type='email' name='email' class='input input-bordered w-full max-w-xs' placeholder='Email' required>
            </div>
            <input type='password' name='password' class='input input-bordered w-full' placeholder='Contraseña' required>
            <button type='submit' class='btn btn-primary text-primary hover:text-base-100'>
                Registrar
            </button>
        </form>
        <p class='text-center pt-4'>
            ¿Ya tienes una cuenta? <a class='text-primary font-bold' href='/sessions/login'>Inicia sesión.</a>
        </p>
    </article>
</section>