<!DOCTYPE html>
<html lang='es' data-theme='corporate'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    {{!-- icons --}}
    <link href='https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css' rel='stylesheet'>

    {{!-- DaysiUI --}}
    <link href='https://cdn.jsdelivr.net/npm/daisyui@3.0.3/dist/full.css' rel='stylesheet' type='text/css' />
    {{!-- tailwindcss --}}
    <script src='https://cdn.tailwindcss.com'></script>

    {{!-- user styles --}}
    <link rel='stylesheet' href='../styles.css'>

    <title>{{pageTitle}}</title>
</head>
<body>
    <nav class='navbar bg-base-100 px-4 w-full fixed z-10 border-b border-base-200 shadow-sm'>
        <div class='flex-1'>
            <a href='/products' class='btn btn-ghost normal-case text-xl'>
                Store
            </a>
        </div>
    {{#if loggedIn}}
        <div class='flex items-center gap-1 font-medium'>
            <a href='/products' class='btn btn-ghost text-sm normal-case'>
                Inicio
            </a>
            {{#if isAdmin}}
            <a href='/admin/products' class='btn btn-ghost text-sm normal-case'>
                Panel de control
            </a>
            {{/if}}
            <div class="tooltip tooltip-bottom" data-tip="Cerrar sesión">
                <a href='/auth/logout' class='btn btn-ghost font-normal'>
                    <i class="ri-logout-box-r-line"></i>
                </a>
            </div>
            <div class="tooltip tooltip-bottom" data-tip="Ir al carrito">
                <a href='/carts' class='btn btn-ghost font-normal'>
                    <i class='ri-shopping-cart-2-fill'></i>
                </a>
            </div>
        </div>
        {{else}}
        <div class='flex items-center gap-1 font-medium'>    
            <a href='/auth/login' class='btn btn-ghost text-sm normal-case'>
                Iniciar sesión
            </a>
            <a href='/auth/register' class='btn btn-ghost text-sm normal-case'>
                Regístrate
            </a>
        </div>
    {{/if}}
    </nav>
    
    
    <main class='bg-base-100'>
        {{{ body }}}
    </main>
    
    <footer class="footer footer-center p-4 bg-neutral text-base-100">
        <div class="join">
            <p>Hecho con ❤ por</p>
            <a href="https://www.frangonzalez.tech" class="text-accent" target="_blank">Fran</a>
        </div>
    </footer>

    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>

</body>
</html>